p{
    font-family:monospace;
    font-size:18px;
    color:blue;
    line-height: 1.6;
}
h1{
    height:80px;
    width:70%;
    margin-top: auto;
    margin-bottom: auto;
    border:2px solid slateblue;
    border-radius: 10px;
    padding: 20px;
    background-color: yellow;
    font-weight: 300;
    text-align: center;
    
}
.end:hover{
    background-color: goldenrod;
}
p{
    width:500px;
    line-height: 1.6;
    font-size: 18px;
    border-bottom: 1px solid rgb(205, 90, 167);
    text-align: center;
    margin:auto;
    padding-bottom:20px;

}